<div class="dashboard-container">
  <div class="dashboard-top-row-container">
    <mat-card class="dashboard-card recents-card">
      <mat-card-header>Recent Transactions</mat-card-header>
      <mat-card-content>**Recent Transactions Will Be Loaded Here**</mat-card-content>
    </mat-card>
    <mat-card class="dashboard-card upcoming-card">
      <mat-card-header>Upcoming Payments</mat-card-header>
      <mat-card-content>**Upcoming Payments Will Be Loaded Here**</mat-card-content>
    </mat-card>
  </div>
  <mat-card class="dashboard-card monthly-card">
    <mat-card-header>Sepnt This Month</mat-card-header>
    <mat-card-content>**Sepnt This Month Will Be Loaded Here**</mat-card-content>
  </mat-card>
</div>
