// src\app\shared\components\sidenav\sidenav.component.scss
@import '../../../../styles.scss';

.example-container {
  height: calc(100vh - 64px);
  .mat-sidenav {
    padding: 8px;
    min-width: 300px;
  }
  .mat-sidenav-content {
    height: calc(100vh - 64px);
  }
}
.menu-button {
  text-transform: capitalize;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-icon-no-color {
  color: rbga(0, 0, 0, 0.54);
}

.show-icons{
  width: 10%;
  visibility: visible !important;
  overflow-x: hidden !important;
  display: block !important;
}

.sidenav-container{
  height: 100vh;
  background-color: var(--accent-darker-color);
  width: fit-content;
  box-shadow: 0 0 2em #272727c5;
}

// .sidenav-container.closed{
//   width: 4rem;
// }
// .sidenav-container.opened{
//   width: 200px;
// }

.sidenav-list{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  align-items: baseline;
}

.sidenav-list-item{
  text-decoration: none;
  color: var(--accent-contrast-main);
  padding: 0.25rem 0.4rem 0.4rem 0.4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sidenav-list-item.active {
  background-color: #797979;
  box-shadow: 0 0 2px 2px #5c5c5c;
  color: white;
  // color: var(--primary-darker-color);
}
// .sidenav-list-item:hover {
//   color: var(--primary-darker-color) !important;
// }
// .sidenav-list-item:not([disabled]):active {
//   color: var(--primary-darker-color) !important;
// }

.opened{
  .sidenav-list-item{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.btn{
  position: absolute;
  top: 0;
  right: 0;
}
