<div class="sidenav-container" [ngClass]="showSidenav ? 'opened' : 'closed'">
  <ul class="sidenav-list">
    <button href="#" class="sidenav-list-item securesum-button" [class.active]="activeButton === 'dashboard'" (click)="activeButtonChange('dashboard')">
      <mat-icon>space_dashboard</mat-icon>
      <span>Dashboard</span>
    </button>
    <button href="#" class="sidenav-list-item securesum-button" [class.active]="activeButton === 'analytics'" (click)="activeButtonChange('analytics')">
      <mat-icon>analytics</mat-icon>
      <span>Analytics</span>
    </button>
    <button href="#" class="sidenav-list-item securesum-button" [class.active]="activeButton === 'calendar'" (click)="activeButtonChange('calendar')">
      <mat-icon>event</mat-icon>
      <span>Calendar</span>
    </button>
  </ul>
</div>
